<div id="embed">
  <center>Receba nossas informações e atualizações técnicas.</center>
  <br>
  <form action="#" method="post" id="form" name="form" target="_blank">
    <div class="form-group">
      <label for="member_email"><b>Endereço de e-mail</b></label>
      <input class="form-field" placeholder="Seu e-mail..." type="email" name="member[email]" id="member_email">
    </div>
    <br>
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channelid="UC9KeSVNbIX9sjPO6gjRSf_Q" data-layout="full" data-count="default">
    </div>
    <br>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v6.0"></script>
    <div class="fb-like" data-href="https://developers.facebook.com/elias.arruda.52" data-width=""
      data-layout="standard" data-action="like" data-size="large" data-share="true">
    </div>
  </form>
</div>