<div id="embed">
  <center>Receba nossas informações e atualizações técnicas.</center>
  <br>
  <form action="#" method="post" id="form" name="form" target="_blank">
    <div class="form-group">
      <label for="member_email"><b>Endereço de e-mail</b></label>
      <input class="form-field" placeholder="Seu e-mail..." type="email" name="member[email]" id="member_email">
    </div>
    <br>
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="default"></div>
    <br>
    <div class="form-actions">
      <input type="submit" value="Se inscrever" name="member[subscribe]" class="btn btn-primary btn-lg btn-block"
        id="member_submit">
    </div>
  </form>
</div>